html {
    font-size: 40px;
}
body {
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
  font-family: "Courier New", Courier, monospace;
}
.screen{
    color: #666;
    background-image: linear-gradient(to top, #fff 0%, #df974c 100%);
    text-align: right;
    padding: 5px 15px 5px 15px;
}
.btn{
    width: 100%;
}
.btn-func{
    background-color: #df974c;
}
.btn-func:hover{
    background-color: #dfb07e;
}
.btnw:hover{
    background-color: #fff;
}
.btn:active {
    background-color: #bbbcbe;
}
.btn-func:active {
    background-color: #dd8d37;
}