@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes:400,600');
/*Header*/
.navbar {
	opacity: 0.9;
	font-family: 'Titillium Web';
	font-weight: 600;
}
body{
	background-color: #fff;
}
.nav li {
	margin: .5em 1em;
}

.nav a {
	color: #fff;
	position: relative;
	font-size: 20px;
}
.nav a::before,
.nav a::after {
	height: 14px;
	width: 14px;
	position: absolute;
	transition: all 0.2s ease;
	opacity: 0;
}
.nav a::before {
	content: '';
	right: 0;
	top: 0;
	border-top: 3px solid #fff;
	border-right: 3px solid #fff;
	transform: translate(-100%, 50%);
}
.nav a:after {
	content: '';
	left: 0;
	bottom: 0;
	border-bottom: 3px solid #fff;
	border-left: 3px solid #fff;
	transform: translate(100%, -50%)
}
.nav a:hover:before,
.nav a:hover:after{
	transform: translate(0,0);
	opacity: 1;
}

.nav a:hover {
	background-color: #005bea;;
	border-radius: 10px;
}
/*Navbar*/
.jumbotron {
	padding-top: 100px;
}
header img{
	border-radius: 20px;
}
#title{
	padding-top: 12%;
}
#img{
	width: 30%;
	overflow:hidden;
	position:relative;
	float:left;
	margin-bottom: 20px;
}
#img img{
	width: 100%;
	transition-duration: 0.3s;
	overflow:hidden;
	border-radius: 25px;
}
.overlay {
	position: absolute;
	bottom: 100%;
	left: 15px;
	right: 15px;
	background-image: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);
	overflow: hidden;
	height: 0;
	transition: 1s;
	border-radius: 21px;
	opacity: 0.8;
}
.title {
	color: black;
	font-size: 80px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
	font-family: 'Great Vibes'
}
#img:hover .overlay {
	bottom: 0;
	height: 100%;
}
.bg-dark{
	background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
}
/*Header*/
/*Body*/
.title-a{
	font-size: 50px;
	text-shadow: 3px 3px 4px gray;
}
.progress {
	background: rgba(255,255,345,0.1);
	border-radius: 100px;
	padding: 0 5px;
	height: 20px;
	text-align: center;
}
.progress-value9 {
	animation: load 3s normal forwards;
	border-radius: 100px;
	background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

@keyframes load {
	0% { width: 0; }
	100% { width: 90%; }
}

.progress-value8 {
	animation: loade 3s normal forwards;
	border-radius: 100px;
	background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

@keyframes loade {
	0% { width: 0; }
	100% { width: 80%; }
} 
.progress-value7 {
	animation: loads 3s normal forwards;
	border-radius: 100px;
	background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

@keyframes loads {
	0% { width: 0; }
	100% { width: 70%; }
}

.progress-value5 {
	animation: loadf 3s normal forwards;
	border-radius: 100px;
	background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

@keyframes loadf {
	0% { width: 0; }
	100% { width: 50%; }
}
.about-info{
	margin: auto;
}
.about{
	font-family: 'Titillium Web';
}
.about img{
	border-radius: 20px;
}
.serv-info{
	margin-top: 20px;
	padding-top: 15px;
	border-radius: 15px;
	text-align: center;
	transition: all 0.5s;
}
.serv-info .fas{
	font-size: 55px;

}
.serv-title{
	font-size: 35px;
	text-decoration: bold;
	font-weight: 200px;
	text-shadow: 3px 3px 4px gray;
}
.serv-icon{
	text-shadow: 3px 3px 4px gray;
}
.serv-row{
	display: flex;
	justify-content: space-around;
}
.serv-info:hover{
	background-color: #6BBBFF;
	margin: 5px 5px 5px 5px;
}

.port-row{
	margin-top: 20px;
	display: flex;
	justify-content: space-around;
}
.port-col {
	text-align: center;
	border-radius: 20px;
	padding: 25px;
	transition: all 0.8s;
}
.port-title{
	font-size: 30px;
	text-decoration: bold;
	font-family: 'Titillium Web';
}
.port-img{
	border-radius: 15px;
	margin-bottom: 10px;
}

.img-box{
	overflow: hidden;
	background-color: #fff;
}

.port-col:hover {
	background-color: #6BBBFF;
	margin: 5px 5px 5px 5px;
}
.title-c{
	text-align: left;
}
.line{
	width: 100px;
	height: 5px;
	background-color: #0078ff;
}
.line-cen{
	width: 100px;
	height:6px;
	background-color: #0078ff;
	margin: 0 auto;
}

.contain-con{
	font-size: 20px;
	padding: 45px 45px 0 45px;
}
.con-icon{
	margin-right: 10px;
}
.con-text{
	padding-left: 15px;
}
.con-msg{
	width: 100%;
	font-size: 20px;
	padding: 10px 15px;
	border: 1px solid #ced4da;
transition: 0.4s;
}

.con-msg:focus {
  box-shadow: 0 0 15px rgba(81, 203, 238, 1);
  margin: -10px 1px 3px 0px;
}
.con-sub{
	border-radius: 5rem;
	padding: .9rem 2.3rem;
	font-size: 20px;
	transition: 0.55s;
}
.con-sub:hover{
	box-shadow: 0 0 25px rgba(81, 203, 238, 1);
	margin: -15px 1px 3px 0px;
}
.contact ul {
	width: 100%;
	padding-left: 15px;
	display: flex;
	margin-left: -15px;
	justify-content: space-between;
}
.contact ul li {
	list-style: none;
	
}
.contact ul li a {
	text-align: center;
	display: block;
	width: 60px;
	height: 60px;
	line-height: 60px;
	border-radius: 50%;
	font-size: 35px;
	color: #007BFF;
	transition: 0.5s;
}
.contact ul li a:hover::before {
	transform: scale(1.1);
	box-shadow: 0 0 5px;
}
.contact ul li a:hover {
	color: #fff;
	box-shadow: 0 0 5px blue;
	text-shadow: 0 0 5px #007BFF;
	margin: -10px 1px 3px 0px;
}
/*Body*/